<div class="custom-font boxy span6 offset3 text-center">

	<h1 class="cool-font-big"> Hello</h1>

	<h2 class="cool-font-small">a new web application</h2>

<%= link_to 'Launch', pics_path, :class =>'btn btn-primary' %>
</div>